@import "tailwindcss";


/* styles.css */
.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.text-shadow-sm {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

*{
  user-select: none;
  scroll-behavior: smooth;
}

@keyframes wave {

  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(20deg);
  }
}

.animate-wave {
  animation: wave 0.3s ease-in-out infinite;
}

@keyframes vibrate {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-5px);
  }

  40% {
    transform: translateX(5px);
  }

  60% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
  }
}

.hover\:vibrate:hover {
  animation: vibrate 0.2s ease-in-out 1.5;
}
